### see: https://github.com/github/gitignore  # example templates

### cd _REPOSITORY_DIRECTORY_
### cp $HOME/.gitignore_global .

## Lines that start with '##' are comments.
## For a project mostly in C, the following would be a good set of
## exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*~

###############
## Apple OSX ##
###############
# see Icon as end of this file
.DS_Store

#################
## Apple Xcode ##
#################
project.xcworkspace/
xcuserdata/

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

####################
## Android Studio ##
####################
# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

###############
## JetBrains ##
###############
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# .idea/shelf

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

###########
## C/C++ ##
###########
# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll
*.dylib
*.so
*.so.*

# Fortran module files
*.mod

# Compiled Static libraries
*.lib
*.a
*.la
*.lai
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#############
## Eclipse ##
#############
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.loadpath

# Eclipse project files
## see http://wiki.eclipse.org/FAQ_How_do_I_set_up_a_Java_project_to_share_in_a_repository%3F
# ignore Eclipse project files if migrating to another IDE
# .classpath
# .project
# .settings/

# JDT-specific (Eclipse Java Development Tools) ... Eclipse project files
#.classpath

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject


# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Proguard folder generated by Eclipse
proguard/

## maven target
target/

############
## Gradle ##
############
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

##########
## Java ##
##########
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

###########
## Maven ##
###########
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

##############
## Netbeans ##
##############
nbproject

########
## Qt ##
########
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#########
## Yii ##
#########
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

###########
## Hidden SourceTree "Iconr" which is really "Icon\r"
#Icon?

## :FAIL:
# Icon[.]
# Icon[\x0a]
# Icon\x0A
# Icon[\r]
# Icon\r
# *\x0a

## :PASS:
# Icon*
# Icon?

# osx> cd /path/to/.gitignore
# osx> irb # start interactive ruby session
# ruby> f = File.open(".gitignore", "a+") # append
# ruby> f = File.open(".gitignore_global", "a+") # append
# ruby> f.write("\n# REMINDER: do not edit Icon^M^M Carriage Returns\n") #
# ruby> f.write("Icon\r\r") # Icon with 0x0d 0x0d (aka ^M ^M or CR CR)
# ruby> f.write("\n# END REMINDER\n") #
# ruby> f.close
# ruby> exit # quit interactive ruby session

# or add 0a 49 63 6e 6e 0d 0d 0a in binhex editor.  The extra 0a brackets the 'Icon\r\r' 

# REMINDER: do not edit Icon^M^M Carriage Returns

Icon


# END REMINDER

Icon?

